<% content_for :title, "New quiz" %>

<h1>New quiz</h1>

<%= render "form", quiz: @quiz %>

<style>
  h1{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>

