  
<% content_for :title, "Editing course" %>
<div class=container>
<h1>Editing course</h1>


<%= render "form", course: @course %>

<br>

<div>
  <%= link_to "Back to courses", course_path(@course) %>
</div>
</div>
<style>
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
</style>