<p style="color: green"><%= notice %></p>

<% content_for :title, "Courses" %>

<% if current_user.role == 'teacher' || current_user.admin? %>
  <%= link_to "Add Course", new_course_path(teacher_id: current_user.teachers.first&.id), class: "btn btn-primary" %>
<% else %>
  <p>You must be a teacher or an admin to add a course.</p>
<% end %>


<h1>Courses</h1>

<div id="courses">
  <% @courses.each do |course| %>
    <%= render course %>
    <p>
      <%= link_to course.title, course %>
    </p>
  <% end %>
</div>


