<p style="color: green"><%= notice %></p>

<% content_for :title, "Courses" %>

<h1>Courses</h1>

<div id="courses">
  <% @courses.each do |course| %>
    <%= render course %>
    <p>
      <%= link_to course.title, course %>
    </p>
  <% end %>
</div>

<%= link_to "Add Course", new_course_path(teacher_id: current_user.teacher.id, student_id: current_user.student.id), class: "btn btn-primary" %>